if SHIELD_FLOAT_LEFT

config ZMK_KEYBOARD_NAME
    default "float"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FLOAT_LEFT || SHIELD_FLOAT_RIGHT

config ZMK_SPLIT
    default y

endif
